html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: smooth;
  background: rgba(0, 0, 0, 0.756);
}

.main {
  background-image: url(hTattoo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  scroll-snap-align: center;
}

.img-h1 {
  background-image: url(mobileLanding.jpeg);
  background-size: cover;
  -webkit-background-clip: text;
  font-size: 4em;
  color: transparent;
}

.img {
  background: #9494946e;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  scroll-snap-align: center;
}

.head {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(154, 0, 139, 1) 42%,
    rgba(84, 0, 235, 1) 100%
  );
}

.content {
  height: 90vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-button {
  border: 1px solid white;
  margin-bottom: 20px;
  padding: 8px 20px;
  border-radius: 10px;
  background: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.main-button:hover {
  background-color: white;
  color: black;
}

.hola {
  background-color: rgba(0, 0, 0, 0.404);
}

@media (max-width: 768px) {
  .main {
    background-image: url(mobileLanding.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .img-h1 {
   
    -webkit-background-clip: text;
    font-size: 6em;
    color: transparent;
  }
}

@media (min-width: 1000px) {
  .img-h1 {
   
    -webkit-background-clip: text;
    font-size: 10em;
    color: transparent;
  }
}

